# Ignorar carpetas

# salidas de los entrenamientos
work/5-Salidas/

# análisis y gráficos de los entrenamientos
work/6-Resultados/

# otros
work/data/
work/Prototipo_1era_Red/
work/subset_1er_prueba/
work/versionvieja/

# Ignorar archivos que empiezan con 'nohup'
nohup*

# Ignorar archivos .ipynb y .csv en work/4-Experimentos/
work/4-Experimentos/**/*.ipynb
work/4-Experimentos/**/*.csv
