# Ignorar carpetas

# salidas de los entrenamientos
work/Salidas/

# análisis y gráficos de los entrenamientos
work/Resultados/

# otros
work/data/
work/Prototipo_1era_Red/
work/subset_1er_prueba/
work/versionvieja/

# Ignorar archivos que empiezan con 'nohup'
nohup*

# Ignorar archivos .ipynb y .csv en work/4-Experimentos/
work/Experimentos/**/*.ipynb
work/Experimentos/**/*.csv
